/* .d-flex
{
  flex: none !important;
} */

img {
  max-width: 6% !important;
}
.dr{
  /* display: inline-flex !important; */
}

.fw-bold{
  position: relative !important;
    /* top: 25px !important; */
    left: 10px !important;
}
.active{
  color: red;
  background-color: red;
}

.me-auto
{
  /* display: flex !important; */
  /* flex-wrap: wrap; */
}
.subdetail{
  top: -14px !important;
  position: relative !important;
  right: -50px !important;
}
.icon-star{
  display: flex !important;
  position: relative !important;
  left: 400px !important;
  bottom: 20px !important;
}
/*

 */
